.signupcomp-title {
  display: flex;
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #1a2644;
  max-height: 160px;
  min-height: 70px;
  justify-content: center;
}
.signupcomp-title-topography {
  /* border: 1px solid red; */
  max-width: 700px;
  min-width: 280px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}

.signup-comp-boxer {
  max-width: 700px;
  min-width: 280px;
  min-height: 300px;
  height: max-content;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  padding: 30px 5%;
  margin: 30px 0;
  /* blur effect does not work on separate opacity attribute */
  background-color: rgb(255 255 255 / 0.5);
  backdrop-filter: blur(10px);
  
}

/* NO thumbs up on left for mobile > 550 */
.signup_thumbsUp_L {
  display: none;
}

/* thumbs up on top for mobile < 550 */
.signup_thumbsUp_m {
  width: 100px;
  margin-bottom: 20px;
}
/* background pic for less than 700 */
.signup-comp-container {
  aspect-ratio: 0.59;
  align-items: center;
  background: no-repeat url("../../assets/signupBG-m.png");
  /* border: 5px solid red; */
  background-size: cover;
}

/* background pic for more than 700 */
@media (min-width: 700px) {
  .signup-comp-container {
    align-items: center;
    aspect-ratio: 1.8;
    background: no-repeat url("../../assets/signupBG_L.jpg");
    /* border: 5px solid red; */
    background-size: cover;
  }
}

/* galaxy fold */
@media (max-width: 320px) {
  .signup-comp-boxer {
    width: 90vw;
  }
  .signupcomp-title-topography {
    width: 90vw;
    font-size: 16px;
  }
}

/* phone */
@media (min-width: 320px) and (max-width: 430px) {
  .signup-comp-container {
    aspect-ratio: 0.59;
  }
  .signup-comp-boxer {
    width: 90vw;
  }
  .signupcomp-title-topography {
    width: 90vw;
    font-size: 18px;
  }
}

/* tablets */
@media (min-width: 431px) and (max-width: 1000px) {
  .signup-comp-container {
    aspect-ratio: 1.8;
  }
  .signup-comp-boxer {
    width: 50vw;
  }
  .signupcomp-title-topography {
    width: 50vw;
    font-size: 18px;
  }
}
/* title font */
@media (min-width: 631px) and (max-width: 1000px) {
  .signupcomp-title-topography {
    font-size: 22px;
  }
  .signupcomp-title {
    height: 15vh;
  }
}

/* desktops */
@media (min-width: 1000px) {
  .signup-comp-container {
    aspect-ratio: 1.8;
  }
  .signup-comp-boxer {
    width: 50vw;
  }
  .signupcomp-title-topography {
    width: 50vw;
    font-size: 28px;
  }
  .signupcomp-title {
    height: 15vh;
  }
}

/* thumbs up on left for web */

@media (min-width: 550px) {
  .signup_thumbsUp_L {
    position: absolute;
    width: 15vw;
    left: 5vw;
    display: flex;
  }

  /* NO thumbs up on top for web > 550 */
  .signup_thumbsUp_m {
    display: none;
  }
}
