.custom-button {
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: max-content;
  height: 40px;
  border: 1.5px solid #fff;
  background: none;
  font-weight: 500;
}

.button-container button:disabled {
  color: #fff;
  background-color: #c8c8c8;
  border: 1.5px solid #c8c8c8;
  font-weight: 500;
}

/* Button Colors */

.whiteOrange {
  background-color: #ff6102;
  border-color: #ff6102;
}
.blue {
  background-color: #1a2644;
  border-color: #1a2644;
  height: 56px;
}

.whiteBlue {
  background-color: #fff;
  border-color: #1a2644;
  color: #1a2644;
}

.orange {
  background-color: #ff6102;
  border-color: #ff6102;
  color: #fff;
}

.borderLess {
}

/* phone less than 450 */
@media (max-width: 450px) {
  .custom-button {
    min-width: 80px;
  }
}

/* tablets 450 to 950 */
@media (min-width: 450px) and (max-width: 950px) {
  .custom-button {
    min-width: 100px;
  }
}

/* desktops 950 and more */
@media (min-width: 950px) {
  .custom-button {
    min-width: 120px;
  }
}
