.footer-box2 {
  width: 12.5%;
}

.footer-box1 {
  width: 20%;
}

.smartupsLogo-footer{
    width: 90%;
}
.footer-logoIcon{
    width: 80px;
}

@media (max-width: 804px) { /* 804 and less */
  .footer-boxer {
    flex-direction: column;
  }
  .footer-box2 {
    width: 100%;
  }
  .smartupsLogo-footer{
    width: 30%;
}
  .footer-box1 {
    width: 100%;
  }
  .footer-logoIcon{
    width: 70px;
}
}
