.top_launch {
    /* background-image: url(../../assets/bg-t-launch.png); */
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    row-gap: 7%;
    position: relative;
    /* aspect ratio laptop=2.2 mobile=0.9 tab=1.6 */
    /* background-color: red; */
  }
  
  .launch-top-btn {
    flex-direction: row;
    display: flex;
    column-gap: 40px;
  }
  
  .heading-top-launch {
    /* line-height: 20px; */
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
  
  .body-top-launch {
    color: white;
    text-align: center;
  }
  
  /* phone */
  @media (max-width: 680px) {
    .body-top-launch {
      font-size: 13px;
    }
    .heading-top-launch {
      font-size: 18px;
    }
  }
  
  /* tablets */
  @media (max-width: 950px) and (min-width: 680px) {
    .body-top-launch {
      font-size: 18px;
    }
    .heading-top-launch {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  /* desktops */
  @media (min-width: 950px) {
    .heading-top-launch {
      font-size: 38px;
      line-height: 45px;
    }
  }
  