.menu-topBar {
  background-color: white;
  width: 96%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid purple; */
  margin-left: 2%;
}



.menu-browserGrid {
  display: flex;
  /* border: 1px solid purple; */
  min-width: 390px;
  justify-content: space-evenly;
  width: 55vw;
  margin-top: 20px;
}
/* 800 to 950 */
#menuBrowser-text {
  font-size: 14px;
  text-align: center;
  color: #959393;
  font-weight: 400;
  white-space: nowrap;
}

/* more than 949   */
@media (min-width: 950px) {
  #menuBrowser-text {
    font-size: 16px;
  }
}
/* less than 800 */
@media (max-width:799px) {
  #menuBrowser-text {
    /* font-size: 16px; */
    text-align: left;
  }
}

.menu-logo {
  /* border: 1px solid purple; */
}
/*  less than 320   */
@media (max-width: 320px) {
  .menu-logo img {
    width: 60px;
  }
}
/* 321 to 800 */
@media (min-width: 321px) and (max-width: 800px) {
  .menu-logo img {
    width: 100px;
  }
}
/* 800 to 900 */
@media (min-width: 800px) {
  .menu-logo img {
    width: 135px;
  }
}
/* more than 900    */
@media (min-width: 800px) {
  .menu-logo img {
    width: 160px;
  }
}
/* menu closs icon */
.menu-crossButtonClassName {
  top: 21px !important;
  left: 18px !important;
  color: #1A2644;
  height: 35px !important;
  width: 33px !important;
  
}
/* menu icon */
.menu-burgerButtonClassName {
  height: 35px;
  width: 35px;
  position: relative;
  color: #1A2644;
}


/* menu outer container */
.bm-menu-wrap {
  top: 0;
  width: 80vw !important;
  background: #fff;
  max-width: 320px;
}

.menu-list {
  display: flex;
  width: 100%;
}
/* overlay */
.menu-overlay {
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5) !important;
}
