.topBar {
  background-color: white;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-crossButtonClassName {
  /* border: 5px solid green; */
  top: 19px !important;
  left: 25px !important;
  width: 18px !important;
}
.menu-burgerButtonClassName {
  /* border: 5px solid blue; */
  height: 35px;
  width: 35px;
  position: relative;
  margin-right: 3vw;
  /* right: 0; */
}

.menu-crossClassName {
  /* border: 5px solid green; */
}
.bm-menu-wrap {
  top: 0;
  width: 80vw !important;
  background: #fff;
}

.menu-list {
  /* border: 5px solid green; */
  display: flex;
  width: 100%;
}

.logo img {
  /* width: 160px; */
  height: 42px;
  padding-left: 3vw;
}

.menu-overlay {
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5) !important;
}

.menu-class {
  display: flex;
}
